@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

:root {
    --white: #ffffff;
    --primary: #54E6AF;
    --secondary: #121725;
    --neutral-light: #C2CBE5;
    --neutral: #5A668A;
    --neutral-dark: #2C344B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chivo', sans-serif;
}

html {
    background-image: url('assets/mobile/image-host.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body {
    background-color: rgba(18, 23, 37, .8);
    min-height: 100vh;
}

header .logo {
    text-align: center;
    padding-top: 60px;
}

.main-content {
    margin: 24px;
    margin-top: 60px;
}

.main-content h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
    color: var(--white);
    text-align: center;
}

.main-content h1::first-line {
    color: var(--primary);
}

.main-content p {
    color: var(--neutral-light);
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 16px;
}

.main-content .icons-group {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    align-items: center;
}

.main-content .icons-group .icon {
    width: 20%;
}

.main-content .icons-group .icon img {
    width: 100%;
}

.main-content form {
    margin-top: 48px;
}

.main-content form input[type="email"] {
    background-color: var(--neutral-dark);
    border-radius: 28px;
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 800;
    font-size: 14px;
    line-height: 28px;
    padding: 9px 30px;
    color: var(--white);
}

.main-content form button[type="submit"] {
    margin-top: 16px;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    border-radius: 28px;
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    padding: 9px 30px;
}

@media only screen and (min-width: 768px) {
    body {
      background-color: lightblue;
    }
}