@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

:root {
    --white: #ffffff;
    --primary: #54E6AF;
    --secondary: #121725;
    --neutral-light: #C2CBE5;
    --neutral: #5A668A;
    --neutral-dark: #2C344B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chivo', sans-serif;
}

html {
    background-image: url('assets/mobile/image-host.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body {
    background-color: rgba(18, 23, 37, .8);
    min-height: 100vh;
}

header .logo {
    text-align: center;
    padding-top: 60px;
}

aside {
    display: none;
}

.main-content {
    margin: 24px;
    margin-top: 60px;
}

.main-content h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
    color: var(--white);
    text-align: center;
}

.main-content h1::first-line {
    color: var(--primary);
}

.main-content p {
    color: var(--neutral-light);
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 16px;
}

.main-content .icons-group {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    align-items: center;
}

.main-content .icons-group .icon {
    width: 20%;
}

.main-content .icons-group .icon img {
    width: 100%;
}

.main-content form {
    margin-top: 48px;
}

.main-content .mobile-form {
    display: block;
}
.main-content .desktop-form {
    display: none;
}

.main-content form input[type="email"] {
    background-color: var(--neutral-dark);
    border-radius: 28px;
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 800;
    font-size: 14px;
    line-height: 28px;
    padding: 9px 30px;
    color: var(--white);
}

.main-content form button[type="submit"] {
    margin-top: 16px;
    background-color: var(--primary);
    color: var(--secondary);
    text-align: center;
    border-radius: 28px;
    width: 100%;
    border: 0;
    outline: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    padding: 9px 30px;
}

.main-content .error-empty,
.main-content .error-invalid {
    display: none;
    font-weight: 800;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 30px;
    color: #FB3E3E;
}

.tablet-host {
    display: none;
}

.desktop-host {
    display: none;
}

@media only screen and (min-width: 768px) {
    html {
        background-image: none;
    }
    body {
        background-color: var(--secondary);
    }
    header {
        width: 40%;
    }
    header .logo {
        text-align: start;
        margin-left: 40px;
        padding-top: 50px;
    }
    aside {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 60%;
        z-index: -1;
    }
    aside img {
        width: 100%;
    }
    aside .podcast-host {
        position: relative;
    }
    aside .circle-dots {
        position: absolute;
        bottom: 0;
        right: 0;
        max-width: 230px;
        transform: translateY(50%);
    }
    .main-content {
        margin: 40px;
        margin-top: 150px;
        width: 60%;
        background-color: var(--secondary);
        padding-top: 90px;
        padding-right: 40px;
    }
    .main-content h1 {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        text-align: start;
    }
    .main-content p {
        text-align: start;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        margin-top: 31px;
    }
    .main-content .icons-group {
        margin-top: 64px;
        align-items: start;
    }
    .main-content form {
        position: relative;
    }
    .main-content .mobile-form {
        display: none;
    }
    .main-content .desktop-form {
        display: block;
    }
    .main-content .desktop-form button[type="submit"] {
        top: 5px;
        right: 5px;
        position: absolute;
        width: fit-content;
        margin: 0;
        cursor: pointer;
    }
    .main-content .desktop-form button[type="submit"]:hover {
        background: #B3FFE2;
        box-shadow: 0px 25px 20px -20px rgba(84, 230, 175, 0.497913);
    }
    .main-content .desktop-form input[type="email"] {
        padding: 14px 30px;
    }
    .tablet-host {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    header .logo {
        margin-left: 165px;
        padding-top: 100px;
    }
    .main-content {
        margin: 165px;
        margin-top: 100px;
        padding-top: 88px;
        padding-right: 88px;
        padding-bottom: 88px;
        max-width: 723px;
    }
    .tablet-host {
        display: none;
    }
    
    .desktop-host {
        display: block;
    }
}