@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700;900&display=swap');

:root {
    --white: #ffffff;
    --primary: #54E6AF;
    --secondary: #121725;
    --neutral-light: #C2CBE5;
    --neutral: #5A668A;
    --neutral-dark: #2C344B;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Chivo', sans-serif;
}

html {
    background-image: url('assets/mobile/image-host.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

body {
    background-color: rgba(18, 23, 37, .8);
    min-height: 100vh;
}

header .logo {
    text-align: center;
    margin-top: 60px;
}

.main-content {
    margin: 24px;
    margin-top: 60px;
}

.main-content h1 {
    text-transform: uppercase;
    font-weight: 300;
    font-size: 26px;
    line-height: 38px;
    color: var(--white);
    text-align: center;
}

.main-content h1::first-line {
    color: var(--primary);
}

.main-content p {
    color: var(--neutral-light);
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
}

.main-content .icons-group {
    display: flex;
    justify-content: space-between;
}

.main-content .icons-group .icon img {
    width: 100%;
}